@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local("DejaVu Sans Mono Bold"), url('/woff2/DejaVuSansMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local("DejaVu Sans Mono Bold Oblique"), url('/woff2/DejaVuSansMono-BoldOblique.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local("DejaVu Sans Mono Book"), url('/woff2/DejaVuSansMono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: local("DejaVu Sans Mono Oblique"), url('/woff2/DejaVuSansMono-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
