<head>
    <meta charset="utf-8">
    <title>{% if page.title != nil %}{{page.title}} - {%endif%}{{site.title}}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Unica+One" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/dejavu-sans-mono" type="text/css" />
    {% feed_meta %}
    {% seo %}
</head>
