<nav class="nav unselectable">
	<svg xmlns="http://www.w3.org/2000/svg" class="svg-menu" width="500" height="85" transform="translate(20 0)">
			<a href="/" alt="Home page" rel="nofollow" role="link">
				<path class="button" fill="#333" fill-rule="evenodd" stroke="rgba(3,102,214,.6)" stroke-width="1.5" stroke-linejoin="round" d="M259 8.7l-37.8 65L87.4 21z"/>
				<text class="hide-me-from-older-browsers unselectable" x="151.5" y="319.1" fill="#999" style="line-height:25px;" font-size="32" font-family="Fira Sans, sans-serif" transform="translate(0 -274.51) rotate(21 160 300)">home</text>
			</a>

            <a href="code.html" alt="Code page" rel="nofollow" role="link">
				<path class="button" fill="#333" fill-rule="evenodd" stroke="rgba(3,102,214,.6)" stroke-width="1.5" stroke-linejoin="round" d="M247 71.8l38-65 133.7 52.7z" transform="translate(-10 5)"/>
				<text class="hide-me-from-older-browsers unselectable" x="271.2" y="331.2" fill="#999" style="line-height:25px" font-size="32" font-family="Fira Sans, sans-serif" transform="translate(-10 -269.51) rotate(-4 410 200)">code</text>
			</a>

            <a href="archive.html" alt="Archive page" rel="nofollow" role="link">
				<path class="button" fill="#333" fill-rule="evenodd" stroke="#555" stroke-width="1.5" stroke-linejoin="round" d="M72.4 81.4l28.4-48.7L201 72.2z"/>
				<text class="hide-me-from-older-browsers unselectable" x="88.4" y="345.4" fill="#999" style="line-height:25px" font-size="20" font-family="Fira Sans, sans-serif" transform="translate(0 -274.51) rotate(-3 200 300)">archive</text>
			</a>
	</svg>

</nav>
